<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
	<h1>
		{{ .title }}
	</h1>

    <ul id="task-list">
        </ul>
    <form id="task-form">
        <input type="text" id="task-title" placeholder="Task title">
        <button type="submit">Add Task</button>
    </form>
    <script>
        
    </script>
</body>
</html>
